* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 18px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
}

#logo {
    width: 150px;
    height: auto;
    padding: 10px;
    align-self: center;
}

#containers {
    display: flex;
    gap: 30px;
    padding: 20px;
    z-index: 1;
}

.search-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 30px;
    width: 390px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.3);
    gap: 25px;
    z-index: 2;
}

.search-card img {
    width: 100%;
    height: auto;
    max-height: 412px;
    margin-bottom: 10px;
    object-fit: contain;
    z-index: 3;
}

.search-card h2 {
    font-size: 24px;
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}

#search-box {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 60px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#search-icon {
    background: url('./img/searchIcon.png') no-repeat center center;
    background-size: contain;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 10px;
}

.search-card input {
    flex: 1;
    height: 50px;
    border: none;
    border-radius: 60px;
    text-align: left;
    font-size: 18px;
    outline: none;
    padding-left: 15px;
    background: transparent;
}

