/***************************** CSS GLOBAL ***********************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 18px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scroll-behavior: smooth;
    width: 100%;
}

#logo {
    width: 150px;
    height: auto;
    padding: 20px;
    align-self: center;
    cursor: pointer;
}

/***************************** CSS HOME ***********************************/
#containers {
    display: flex;
    gap: 30px;
    padding: 20px;
    z-index: 1;
}

.search-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 30px;
    width: 490px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.3);
    gap: 25px;
    z-index: 2;
}

.search-card img {
    width: 100%;
    height: auto;
    max-height: 412px;
    margin-bottom: 10px;
    object-fit: contain;
    z-index: 3;
}

.search-card h2 {
    font-size: 42px;
    font-family: "Bangers";
    color: white;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}

.change-page {
    width: 100%;
    height: 80px;
    font-family: "Bangers";
    font-weight: 700;
    font-size: 48px;
    border: none;
    border-radius: 60px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}



#button1 {
    background-color: #5735c5;
}

#button1 a{
    text-decoration: none;
    text-decoration-color: white;
    color: white;
    width: 100%;
    height: 100%;
}

#button2 a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-decoration-color: white;
    color: white;
}

#button2 {
    background-color: #fff000; 
}

.change-page:hover {
    transform: scale(1.05);
}

#button1:hover{
    background-color: rgb(98, 54, 139);
}

#button2:hover {
    background-color: #ffae00;
}

/****************************************************************/

#search-box {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 100px;
    padding-top: 5px;
    width: 100%;
    transition: 0.5s;
}

#search-box:hover {
    box-shadow: rgba(129, 129, 129, 0.56) 0px 22px 70px 4px;
    transition: 0.5s;
}

#search-fruit {
    flex: 1;
    height: 60px;
    border: none;
    border-radius: 60px;
    text-align: left;
    font-size: 36px;
    outline: none;
    padding-left: 15px;
    background: transparent;
    font-family: "Righteous";
    color: #272727;
}

#search-characters {
    flex: 1;
    height: 60px;
    border: none;
    border-radius: 60px;
    text-align: left;
    font-size: 36px;
    outline: none;
    padding-left: 15px;
    background: transparent;
    font-family: "Righteous";
    color: #272727;

}

.search-icon {
    background: url('./img/searchIcon.png') no-repeat center center;
    background-size: contain;
    border: none;
    width: 42px;
    height: 42px;
    cursor: pointer;
    margin-left: 10px;
}

/***************************** CSS FRUITS ***********************************/
#fruits-gallery {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center; 
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.fruit-card {
    width: 350px;
    height: 450px;
    background: #d9d9d97a;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin: 30px;
    padding-bottom: 18px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.fruit-card img {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    max-width: 300px;
    align-self: top;;
    justify-content: center;
    
}

.fruit-card h2 {
    width: 100%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 36px;
    font-family: "Bangers";
    padding: 40px;
    text-align: center;
    
}


.chosen-fruit {
    display: flex;
    width: 100%;
    height: 700px;
    background: #a5a5a583;
    border-radius: 30px;
    padding-block: 90px;
    padding-inline: 70px;
    text-align: start;
    transition: 0.2s;
}

.div-img {
    display: flex;
    width:40%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.div-img img {
    min-width: 300px;
    max-width: 100%;
    max-height: 100%;
    height: fit-content;
    border: none;
    margin: 20px;
    transition: 0.5s;
}

.div-img img:hover{
    transform: scale(130%);
    transition: 0.9s;
    overflow: visible;
}

.fruit-info {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: space-evenly;
    padding-left: 30px;
}

.fruit-info h2 {
    width: 100%;
    font-size: 66px;
    font-family: 'Bangers';
    color: white;
    text-transform: uppercase;
}

.fruit-description{
    width: 100%;
    color: white;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: 0.5s;
}

.fruit-description:hover{
    transition: 0.5s;
    background-color: #5e5e5e83;
    border-radius: 5px;
}

.fruit-type {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    color: white;
    background-color: #404040cb;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight:600 ;
    gap: 10px;
    box-shadow: rgba(194, 194, 194, 0.56) 0px 22px 70px 4px;
}

/***************************** CSS CHARACTERS ***********************************/
#characters-gallery {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center; 
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #c4af96d8;
    padding: 20px;
    width: 220px;
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    width: 450px;
    height: 370px;
    border-radius: 30px;
    font-weight: bold;
    margin: 30px;
    padding-bottom: 18px;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}


.character-card img {
    width: 100%;
    height: 150px;
}

.character-card h2 {
    width: 100%;
    font-size: 48px;
    text-align: center;
    color: black;
    text-transform: capitalize;
    
}

.bounty-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.bounty-box img {
    height: 48px;
    width: 30px;
}

.bounty-box span {
    font-size: 48px;
    color: black;
    font-weight: bold;
}

